@model IEnumerable<Mvc.Models.mvcCategoryModel>

@{
    ViewBag.Title = "Index";
}

<br />

<p>
    <a href="@Url.Action("AddOrEdit", "Category")" class="btn btn-default> <span class="glyphicon glyphicon-pencil"></span> Create New </a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategorryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryLimit)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategorryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryLimit)
            </td>
            <td>
                <a href="@Url.Action("AddOrEdit","Category",new {id=item.CategoryId})" class="btn btn-success"><span class="glyphicon glyphicon-exclamation-sign"></span>Edit</a>|
                <a onclick="Delete(@item.CategoryId)" class="btn btn-danger"><i class="fa fa-trash"></i>  Delete</a>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        function Delete(id) {
            alertify.confirm('Expense Tracker','Are You Sure to Delete this Record ?',function(){
                window.location.href = '@Url.Action("Delete","Category")/' + id;
            },null );
        }
    </script>
}
